{% extends 'base.html' %}
{% load static %}

{% block content %}


{% comment %} <html>
<body> {% endcomment %}




    <div class="container">
        <div class="main">
            <div class="main-center">
                <h5>send message.</h5>
                <form class="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if message %}
                        {% for message in message %}
                        <span{% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: green">
                            {{message}}</span>
    
                            {% endfor %}
                            {% endif %}
                    </div>
    
                    <div class="form-group">
                        {{ forms.name }}
    
                    </div>
    
    
    
                    <div class="form-group">
                        {{ forms.email }}
                    </div>
    
                    <div class="form-group">
                        {{ forms.subject }}
                    </div>
    
                    <div class="form-group">
                        {{ forms.message }}
                    </div>
    
    
    
                    <button class="btn btn-info btn-block" type="submit">submit </button>
    
                </form>
            </div>
            <!--main-center"-->
        </div>
        <!--main-->
    </div>
    <!--container-->

{% comment %} </body>

</html> {% endcomment %}


  <!-- content -->
  {% endblock %}